include ../includes/head.pug

+navbar("Módulo Logística","dropdown_menu")
  +nav_item("/") Home
  +nav_item("/list/transportadoras") Listagem das Transportadoras
  +nav_item("/list/sites") Listagem dos Sites
  +nav_item("/list/entregas") Listagem dos Entregas
