include ../includes/head.pug

+navbar("Módulo Logística","dropdown_menu")
  +nav_item("/site/list/entregas") Listagem das Entregas
  +nav_item("/site/list/transportadoras") Listagem das Transportadoras
  +nav_item("/site/list/sites") Listagem dos Sites
