doctype html
html(lang="pt-br")
  include ../includes/head.pug
  body
    #wrap
      .main-content
        .main-head
          block main
          block menu
        block content
      block out
  include ../includes/foot.pug
