extends ../layouts/default.pug

block content
  p Site em Manutenção.
  p Por favor verifique os arquivos referentes a api para utilização do módulo.
  //- +panel-primary("Cadastros")
  //-   p
  //-   a.btn(role="button", href="/site/list/transportadoras", class="btn-default") Listar Transportadoras
  //-   p
  //-   a.btn(role="button", href="/site/list/sites", class="btn-default") Listar Sites
  //-   p
  //-   a.btn(role="button", href="/site/list/entregas", class="btn-default") Listar Entrega
