extends ../layouts/default.pug

block content
  p
  h2 Formulario arrumado por uma tabela
  div(id="content", class="cadastro")
    form(action="/cadastro")
      table
        tr
          td
            label Nome Transportadora
          td
            input(name="something", placeholder="Padrão")
        tr
          td
            label Endereço
          td
            input(name="something", placeholder="Rua X")
        tr
          td
          td
            button(type="submit", value="save") Inserir

  include ../includes/table.pug
