extends ../layouts/default.pug

mixin create-form(formulario)
  form(action='/cadastro'+ formulario.action + '?type=' + formType, method='post')
    input(type='hidden', id='formType', value=formulario.type)
    each input,index in formulario.inputs
      if input.tipo == "radio"
        +radio-inline(input.titulo, input.identificador)
      else
        label= input.titulo
        if input.tipo == "valor"
          +input-group("R$")
            +input-simple("text", "", {name: "" + input.identificador})
        else
          +input-simple("text", "", {name: "" + input.identificador})
        p
    p
    +submit("" + formulario.submitTxt)

block content

  +panel-primary(cadastroTitle)
    +tab-list(["Adicionar", "Alterar", "Remover"])
      +tab("Adicionar", "active")
        h2 Adicionar
        p
        +create-form(formAdicionar)
      +tab("Alterar")
        h2 Alterar
        p
        +create-form(formAlterar)
      +tab("Remover")
        h2 Remover
        p
        +create-form(formRemover)

  +panel-primary(tableLabel)
    +table-striped(tableHeader, tableContent)
