extends ../layouts/default.pug

mixin create-form(formulario)
  form(action=formulario.action, method='post')
    input(type='hidden', id='formType', value=formulario.type)
    each input,index in formulario.inputs
      label= input.titulo
      if input.tipo != "valor"
        +input-simple("text", "" + input.identificador)
      else
        +input-group("R$")
          +input-simple("text","" + input.identificador)
      p
    +submit("" + formulario.submitTxt)

block content

  +panel-primary(cadastroTitle)
    +tab-list(["Adicionar", "Alterar", "Remover"])
      +tab("Adicionar", "active")
        h2 Adicionar
        p
        +create-form(formAdicionar)
      +tab("Alterar")
        h2 Alterar
        p
        +create-form(formAlterar)
      +tab("Remover")
        h2 Remover
        p
        +create-form(formRemover)

  +panel-primary(tableLabel)
    +table-striped(tableHeader, tableContent)
