extends ../layouts/default.pug

block content
  p
  +panel-primary(cadastroTitle)
    +tab-list(["Adicionar", "Alterar", "Remover"])
      +tab("Adicionar", "active")
        p
        form(action='/')
          +input("text","txtEstOri","Estado Origem")
          +input("text","txtEstDest","Estado Destino")
          label Valor/Km
          +input-group("R$")
            +input-simple("text","txtValorKm")
          label Valor/Kg
          +input-group("R$")
            +input-simple("text","txtValorKg")
          +submit("Adicionar Taxa")
      +tab("Alterar")
        p
      +tab("Remover")
        p

  +panel-primary(tableLabel)
    +table-striped(tableHeader, tableContent)
